* { padding: 0; margin: 0; }
html, body {
  height: 100%;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(47,54,60);
}
h2 {
  padding-bottom: 20px;
}
#main {
  height: 100%;
}
#header {
  height: 5%;
}
.grid-three {
  float: left;
  height: 95%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-content: flex-start;
  -webkit-align-content: flex-start;
}
#bart.grid-three {
  width: 20%;
}
#muni1.grid-three {
  width: 50%;
}
#muni2.grid-three {
  width: 20%;
}
.muniContainer {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  align-content: left;
  -webkit-align-content: left;
}
.busnumber {
  width: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 100px;
  float: left;
}
.muni {
  height: 100px;
  width: 175px;
  padding-right: 10px;
  margin-bottom: 5px;
}
.laterbuses {
  float: left;
  margin-left: 2px;
  background: rgba(0,0,0,0.1);
}
.laterbuses .time {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0;
  font-size: 20px;
  background: rgba(0,0,0,0.1);
}
.laterbuses .time:first-child {
  border-bottom: 2px dotted #2f363c;
}
.laterbuses .time:last-child {
  border-bottom: 3px solid #2f363c;
}
/*body, html {
  background: #2f363c;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  height: 80px;
  overflow: hidden;
}

#main {
  height: 100%;
}
#main .grid-three {
  min-width: 415px;
  float: left;
  min-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-start;
}
#main .grid-three:nth-of-type(1) {
  width: 15%;
  border-top: 3px solid rgb(222, 0, 255);
  padding: 0 1px 0 0;
}
#main .grid-three:nth-of-type(2) {
  width: 70%;
  border-top: 3px solid rgb(0, 255, 36);
  padding: 0 1px;
}
#main .grid-three:nth-of-type(3) {
  width: 10%;
  border-top: 3px solid rgb(0, 180, 255);
  padding: 0 0 0 1px;
}
.bartContainer, .muniContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: left;
}
.muniContainer {
  height: 90%;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  margin: 7px 0 4px 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0 4px;
  box-sizing: border-box;
  letter-spacing: 2px;
}
h3 {
  text-transform: uppercase;
}
/*.muniContainer,
.bartContainer {
  overflow: hidden;
}*/
/*.muni,
.bart {
  float: left;
  clear: both;
  margin: 2px 20px 0 20px;
}*/
/*.muni {
  margin-right: 50px;
} */
/*.bart {
  margin-left: 50px;
}*/
/*.muni .destinationContainer {
  width: 38px;
  height: 125px;
  float: left;
  position: relative;
  margin: 0 3px;
}
.muni .rotate {
  width: 125px;
  height: 38px;
  font-size: 12px;
  padding: 2px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  text-align: center;
}
.busnumber {
  font-size: 60px;
  float: left;
  height: 125px;
  width: 125px;
  text-align: center;
  line-height: 125px;
  border-radius: 50%;
}
.nextbus {
  font-size: 75px;
  float: left;
  height: 125px;
  line-height: 125px;
  width: 150px;
  text-align: center;
  background: rgba(0,0,0,0.1);
}

#bart .advisories .advisory {
  font-size: 24px;
  font-weight: bold;
  background-color: #b94a48;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 4px 8px;
  margin: 10px 10px 0 10px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: baseline;
  text-align: center;
}

.bart .destination {
  float: left;
  height: 100px;
  width: 166px;
  box-sizing: border-box;
  padding: 20px 4px 0;
  overflow:hidden;
  font-size: 24px;
  text-align: center;
  position: relative;
  border-radius: 20px 0px 0px 20px;
}
.bart .nextbus,
.bart .laterbuses {
  height: 100px;
  line-height: 100px;
}
.bart .laterbuses .time {
  height: 49px;
  line-height: 50px;
}

#time {
  background: rgba(0,0,0,0.1);
  width: 25%;
  height: 80px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: flex-start;
}
#clock, #date {
  float: left;
  margin-left: 12.5%;
}
#clock {
  font-size: 48px;
  line-height: 48px;
  padding: 7px 0 0 0;
  height: 50px;
}
#date {
  clear: left;
  font-size: 14px;
  letter-spacing: 4px;
}

#weatherContainer {
  width: 25%;
  float: right;
}
#weather {
  width: 100%;
  padding: 7px 0 0 200px;
  background: rgba(0,0,0,0.1);
  height:80px;
  box-sizing: border-box;
}
#weather .temp {
  font-size: 48px;
  float: left;
}
#weather .forecast {
  display: inline-block;
  font-size: 12px;
  width: 175px;
}
#weather .forecast img {
  float: left;
  margin: 8px 12px 0 8px;
  width: 50px;
}
.rotate {
  -webkit-transform: rotate(-90deg) translateY(38px);
  -moz-transform: rotate(-90deg) translateY(38px);
  -ms-transform: rotate(-90deg) translateY(38px);
  -o-transform: rotate(-90deg) translateY(38px);
  transform: rotate(-90deg) translateY(38px);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  /*-webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;

  /* Should be unset in IE9+ I think. */
  /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* For slabtext plugin */
/*
.slabtexted .slabtext
{
display:-moz-inline-box;
display:inline-block;
white-space:nowrap;
}
.slabtextinactive .slabtext
{
display:inline;
white-space:normal;
font-size:1em !important;
letter-spacing:inherit !important;
word-spacing:inherit !important;
*letter-spacing:0 !important;
*word-spacing:0 !important;
}
.slabtextdone .slabtext
{
display:block;
}*/



/* MUNI-provided route colors */
#muni_1_outbound .busnumber, #muni_1_inbound .busnumber {
  background: #cc6600;
}
#muni_2_outbound .busnumber, #muni_2_inbound .busnumber {
  background: #000000;
}
#muni_3_outbound .busnumber, #muni_3_inbound .busnumber {
  background: #339999;
}
#muni_5_outbound .busnumber, #muni_5_inbound .busnumber {
  background: #666699;
}
#muni_6_outbound .busnumber, #muni_6_inbound .busnumber {
  background: #996699;
}
#muni_9_outbound .busnumber, #muni_9_inbound .busnumber {
  background: #889944;
}
#muni_10_outbound .busnumber, #muni_10_inbound .busnumber {
  background: #b07d00;
}
#muni_12_outbound .busnumber, #muni_12_inbound .busnumber {
  background: #b07d00;
}
#muni_14_outbound .busnumber, #muni_14_inbound .busnumber {
  background: #339999;
}
#muni_17_outbound .busnumber, #muni_17_inbound .busnumber {
  background: #003399;
}
#muni_18_outbound .busnumber, #muni_18_inbound .busnumber {
  background: #996699;
}
#muni_19_outbound .busnumber, #muni_19_inbound .busnumber {
  background: #000000;
}
#muni_21_outbound .busnumber, #muni_21_inbound .busnumber {
  background: #660000;
}
#muni_22_outbound .busnumber, #muni_22_inbound .busnumber {
  background: #ff6633;
}
#muni_23_outbound .busnumber, #muni_23_inbound .busnumber {
  background: #b07d00;
}
#muni_24_outbound .busnumber, #muni_24_inbound .busnumber {
  background: #996699;
}
#muni_27_outbound .busnumber, #muni_27_inbound .busnumber {
  background: #660099;
}
#muni_28_outbound .busnumber, #muni_28_inbound .busnumber {
  background: #000000;
}
#muni_29_outbound .busnumber, #muni_29_inbound .busnumber {
  background: #ff6633;
}
#muni_30_outbound .busnumber, #muni_30_inbound .busnumber {
  background: #990099;
}
#muni_31_outbound .busnumber, #muni_31_inbound .busnumber {
  background: #339999;
}
#muni_33_outbound .busnumber, #muni_33_inbound .busnumber {
  background: #660000;
}
#muni_35_outbound .busnumber, #muni_35_inbound .busnumber {
  background: #ff6633;
}
#muni_36_outbound .busnumber, #muni_36_inbound .busnumber {
  background: #003399;
}
#muni_37_outbound .busnumber, #muni_37_inbound .busnumber {
  background: #000000;
}
#muni_38_outbound .busnumber, #muni_38_inbound .busnumber {
  background: #ff6633;
}
#muni_39_outbound .busnumber, #muni_39_inbound .busnumber {
  background: #ff6633;
}
#muni_41_outbound .busnumber, #muni_41_inbound .busnumber {
  background: #b07d00;
}
#muni_43_outbound .busnumber, #muni_43_inbound .busnumber {
  background: #006633;
}
#muni_44_outbound .busnumber, #muni_44_inbound .busnumber {
  background: #ff6633;
}
#muni_45_outbound .busnumber, #muni_45_inbound .busnumber {
  background: #006633;
}
#muni_47_outbound .busnumber, #muni_47_inbound .busnumber {
  background: #667744;
}
#muni_48_outbound .busnumber, #muni_48_inbound .busnumber {
  background: #cc6600;
}
#muni_49_outbound .busnumber, #muni_49_inbound .busnumber {
  background: #b07d00;
}
#muni_52_outbound .busnumber, #muni_52_inbound .busnumber {
  background: #889944;
}
#muni_54_outbound .busnumber, #muni_54_inbound .busnumber {
  background: #cc0033;
}
#muni_55_outbound .busnumber, #muni_55_inbound .busnumber {
  background: #cc0033;
}
#muni_56_outbound .busnumber, #muni_56_inbound .busnumber {
  background: #990099;
}
#muni_59_outbound .busnumber, #muni_59_inbound .busnumber {
  background: #cc3399;
}
#muni_60_outbound .busnumber, #muni_60_inbound .busnumber {
  background: #4444a4;
}
#muni_61_outbound .busnumber, #muni_61_inbound .busnumber {
  background: #9ac520;
}
#muni_66_outbound .busnumber, #muni_66_inbound .busnumber {
  background: #666699;
}
#muni_67_outbound .busnumber, #muni_67_inbound .busnumber {
  background: #555555;
}
#muni_71_outbound .busnumber, #muni_71_inbound .busnumber {
  background: #667744;
}
#muni_88_outbound .busnumber, #muni_88_inbound .busnumber {
  background: #555555;
}
#muni_90_outbound .busnumber, #muni_90_inbound .busnumber {
  background: #660000;
}
#muni_91_outbound .busnumber, #muni_91_inbound .busnumber {
  background: #667744;
}
#muni_108_outbound .busnumber, #muni_108_inbound .busnumber {
  background: #555555;
}
#muni_F_outbound .busnumber, #muni_F_inbound .busnumber {
  background: #555555;
}
#muni_J_outbound .busnumber, #muni_J_inbound .busnumber {
  background: #cc6600;
}
#muni_KT_outbound .busnumber, #muni_KT_inbound .busnumber {
  background: #cc0033;
}
#muni_L_outbound .busnumber, #muni_L_inbound .busnumber {
  background: #660099;
}
#muni_M_outbound .busnumber, #muni_M_inbound .busnumber {
  background: #006633;
}
#muni_N_outbound .busnumber, #muni_N_inbound .busnumber {
  background: #003399;
}
#muni_NX_outbound .busnumber, #muni_NX_inbound .busnumber {
  background: #006633;
}
#muni_1AX_outbound .busnumber, #muni_1AX_inbound .busnumber {
  background: #990000;
}
#muni_1BX_outbound .busnumber, #muni_1BX_inbound .busnumber {
  background: #cc3333;
}
#muni_5R_outbound .busnumber, #muni_5R_inbound .busnumber {
  background: #666699;
}
#muni_8X_outbound .busnumber, #muni_8X_inbound .busnumber {
  background: #996699;
}
#muni_8AX_outbound .busnumber, #muni_8AX_inbound .busnumber {
  background: #996699;
}
#muni_8BX_outbound .busnumber, #muni_8BX_inbound .busnumber {
  background: #996699;
}
#muni_9R_outbound .busnumber, #muni_9R_inbound .busnumber {
  background: #889944;
}
#muni_14R_outbound .busnumber, #muni_14R_inbound .busnumber {
  background: #009900;
}
#muni_14X_outbound .busnumber, #muni_14X_inbound .busnumber {
  background: #cc0033;
}
#muni_16X_outbound .busnumber, #muni_16X_inbound .busnumber {
  background: #cc0033;
}
#muni_28R_outbound .busnumber, #muni_28R_inbound .busnumber {
  background: #009900;
}
#muni_30X_outbound .busnumber, #muni_30X_inbound .busnumber {
  background: #cc0033;
}
#muni_31AX_outbound .busnumber, #muni_31AX_inbound .busnumber {
  background: #990000;
}
#muni_31BX_outbound .busnumber, #muni_31BX_inbound .busnumber {
  background: #cc3333;
}
#muni_38AX_outbound .busnumber, #muni_38AX_inbound .busnumber {
  background: #990000;
}
#muni_38BX_outbound .busnumber, #muni_38BX_inbound .busnumber {
  background: #cc3333;
}
#muni_38R_outbound .busnumber, #muni_38R_inbound .busnumber {
  background: #009900;
}
#muni_71R_outbound .busnumber, #muni_71R_inbound .busnumber {
  background: #009900;
}
#muni_76X_outbound .busnumber, #muni_76X_inbound .busnumber {
  background: #009900;
}
#muni_81X_outbound .busnumber, #muni_81X_inbound .busnumber {
  background: #cc0033;
}
#muni_82X_outbound .busnumber, #muni_82X_inbound .busnumber {
  background: #cc0033;
}
#muni_83X_outbound .busnumber, #muni_83X_inbound .busnumber {
  background: #cc0033;
}
#muni_K_OWL_outbound .busnumber, #muni_K_OWL_inbound .busnumber {
  background: #198080;
}
#muni_L_OWL_outbound .busnumber, #muni_L_OWL_inbound .busnumber {
  background: #330066;
}
#muni_M_OWL_outbound .busnumber, #muni_M_OWL_inbound .busnumber {
  background: #004d19;
}
#muni_N_OWL_outbound .busnumber, #muni_N_OWL_inbound .busnumber {
  background: #001980;
}
#muni_T_OWL_outbound .busnumber, #muni_T_OWL_inbound .busnumber {
  background: #660019;
}
