body, html {
  background: #2f363c;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  height: 80px;
  overflow: hidden;
}

#main {
  height: 100%;
}
#main .grid-three {
  width: 33.333%;
  min-width: 415px;
  float: left;
  min-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
#main .grid-three:nth-of-type(1) {
  border-top: 3px solid rgb(222, 0, 255);
}
#main .grid-three:nth-of-type(2) {
  border-top: 3px solid rgb(0, 255, 36);
}
#main .grid-three:nth-of-type(3) {
  border-top: 3px solid rgb(0, 180, 255);
}
h2 {
  text-transform: uppercase;
  margin: 20px 0 0 30px;
  background: rgba(0, 0, 0, 0.1);
  width: 381px;
  padding: 0 4px;
  box-sizing: border-box;
  letter-spacing: 1px;
}
h3 {
  text-transform: uppercase;
}
.muniContainer,
.bartContainer,
.uberContainer {
  overflow: hidden;
}
.muni,
.bart,
.uber {
  float: left;
  clear: both;
  margin: 2px 0 0 30px;
}
.muni {
  height: 5vh;
}
.muni .destinationContainer {
  width: 38px;
  height: 5.6vh;
  float: left;
  position: relative;
  margin: 0 3px;
}
.muni .rotate {
  width: 5.6vh;
  height: 50px;
  font-size: .9vh;
  padding: 2px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  text-align: center;
}
.busnumber {
  font-size: 3.8vh;
  float: left;
  height: 5.6vh;
  width: 125px;
  text-align: center;
  line-height: 5.6vh;
}
.nextbus {
  font-size: 5vh;
  float: left;
  height: 5.6vh;
  line-height: 5.6vh;
  width: 150px;
  text-align: center;
  background: rgba(0,0,0,0.1);
}
.laterbuses {
  float: left;
  height: 5.6vh;
  margin-left: 2px;
  background: rgba(0,0,0,0.1);
}
.laterbuses .time {
  height: 2.8vh;
  width: 62.5px;
  text-align: center;
  line-height: 2.8vh;
  margin: 0;
  font-size: 20px;
}
.laterbuses .time:first-child {
  border-bottom: 3px solid #2f363c;
}
#bart .advisories .advisory {
  font-size: 24px;
  font-weight: bold;
  background-color: #b94a48;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 4px 8px;
  margin: 10px 10px 0 10px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: baseline;
  text-align: center;
}

.bart .destination {
  float: left;
  height: 100px;
  width: 166px;
  box-sizing: border-box;
  padding: 20px 4px 0;
  overflow:hidden;
  font-size: 24px;
  text-align: center;
  position: relative;
}
.bart .nextbus,
.bart .laterbuses {
  height: 100px;
  line-height: 100px;
}
.bart .laterbuses .time {
  height: 49px;
  line-height: 50px;
}

#uber .col1,
#uber .col2 {
  float: left;
  width: 49%;
}

.uber {
  background: rgba(0, 0, 0, 0.1);
  height: 40px;
  border-bottom: 3px solid #2f363c;
}

.uber .serviceName {
  width: 100px;
  display: inline-block;
  line-height: 40px;
  font-size: 18px;
  height: 40px;
  padding-left: 5px;
  border-right: 3px solid #2f363c;
  white-space: nowrap;
}

.uber.surge .serviceName {
  color: #ff2a2a;
}

.uber .serviceName span {
  font-size: 15px;
  color: rgb(255, 0, 0);
}

.uber .time {
  width: 63px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  font-size: 20px;
  height: 40px;
}



#time {
  margin-left: 30px;
  background: rgba(0,0,0,0.1);
  width: 381px;
  height: 80px;
  overflow: hidden;
  padding-left: 10px;
  box-sizing: border-box;
}
#clock {
  font-size: 48px;
  line-height: 48px;
  padding-bottom: 2px;
  height: 50px;
  float: left;
}
#date {
  clear: left;
  float: left;
  font-size: 14px;
  letter-spacing: 4px;
}

#weatherContainer {
  width: 33.3%;
  float: right;
}
#weather {
  width: 381px;
  padding: 7px 0 0 30px;
  margin-left: 30px;
  background: rgba(0,0,0,0.1);
  height:80px;
  box-sizing: border-box;
}
#weather .temp {
  font-size: 48px;
  float: left;
}
#weather .forecast {
  display: inline-block;
  font-size: 12px;
  width: 175px;
}
#weather .forecast img {
  float: left;
  margin: 8px 12px 0 8px;
  width: 50px;
}
.rotate {
  -webkit-transform: rotate(-90deg) translateY(38px);
  -moz-transform: rotate(-90deg) translateY(38px);
  -ms-transform: rotate(-90deg) translateY(38px);
  -o-transform: rotate(-90deg) translateY(38px);
  transform: rotate(-90deg) translateY(38px);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* For slabtext plugin */

.slabtexted .slabtext
{
display:-moz-inline-box;
display:inline-block;
white-space:nowrap;
}
.slabtextinactive .slabtext
{
display:inline;
white-space:normal;
font-size:1em !important;
letter-spacing:inherit !important;
word-spacing:inherit !important;
*letter-spacing:0 !important;
*word-spacing:0 !important;
}
.slabtextdone .slabtext
{
display:block;
}

/* MUNI-provided route colors */
#muni_1 .busnumber {
  background: #cc6600;
}
#muni_2 .busnumber {
  background: #000000;
}
#muni_3 .busnumber {
  background: #339999;
}
#muni_5 .busnumber {
  background: #666699;
}
#muni_6 .busnumber {
  background: #996699;
}
#muni_9 .busnumber {
  background: #889944;
}
#muni_10 .busnumber {
  background: #b07d00;
}
#muni_12 .busnumber {
  background: #b07d00;
}
#muni_14 .busnumber {
  background: #339999;
}
#muni_17 .busnumber {
  background: #003399;
}
#muni_18 .busnumber {
  background: #996699;
}
#muni_19 .busnumber {
  background: #000000;
}
#muni_21 .busnumber {
  background: #660000;
}
#muni_22 .busnumber {
  background: #ff6633;
}
#muni_23 .busnumber {
  background: #b07d00;
}
#muni_24 .busnumber {
  background: #996699;
}
#muni_27 .busnumber {
  background: #660099;
}
#muni_28 .busnumber {
  background: #000000;
}
#muni_29 .busnumber {
  background: #ff6633;
}
#muni_30 .busnumber {
  background: #990099;
}
#muni_31 .busnumber {
  background: #339999;
}
#muni_33 .busnumber {
  background: #660000;
}
#muni_35 .busnumber {
  background: #ff6633;
}
#muni_36 .busnumber {
  background: #003399;
}
#muni_37 .busnumber {
  background: #000000;
}
#muni_38 .busnumber {
  background: #ff6633;
}
#muni_39 .busnumber {
  background: #ff6633;
}
#muni_41 .busnumber {
  background: #b07d00;
}
#muni_43 .busnumber {
  background: #006633;
}
#muni_44 .busnumber {
  background: #ff6633;
}
#muni_45 .busnumber {
  background: #006633;
}
#muni_47 .busnumber {
  background: #667744;
}
#muni_48 .busnumber {
  background: #cc6600;
}
#muni_49 .busnumber {
  background: #b07d00;
}
#muni_52 .busnumber {
  background: #889944;
}
#muni_54 .busnumber {
  background: #cc0033;
}
#muni_55 .busnumber {
  background: #cc0033;
}
#muni_56 .busnumber {
  background: #990099;
}
#muni_59 .busnumber {
  background: #cc3399;
}
#muni_60 .busnumber {
  background: #4444a4;
}
#muni_61 .busnumber {
  background: #9ac520;
}
#muni_66 .busnumber {
  background: #666699;
}
#muni_67 .busnumber {
  background: #555555;
}
#muni_71 .busnumber {
  background: #667744;
}
#muni_88 .busnumber {
  background: #555555;
}
#muni_90 .busnumber {
  background: #660000;
}
#muni_91 .busnumber {
  background: #667744;
}
#muni_108 .busnumber {
  background: #555555;
}
#muni_F .busnumber {
  background: #555555;
}
#muni_J .busnumber {
  background: #cc6600;
}
#muni_KT .busnumber {
  background: #cc0033;
}
#muni_L .busnumber {
  background: #660099;
}
#muni_M .busnumber {
  background: #006633;
}
#muni_N .busnumber {
  background: #003399;
}
#muni_NX .busnumber {
  background: #006633;
}
#muni_1AX .busnumber {
  background: #990000;
}
#muni_1BX .busnumber {
  background: #cc3333;
}
#muni_5L .busnumber {
  background: #666699;
}
#muni_8X .busnumber {
  background: #996699;
}
#muni_8AX .busnumber {
  background: #996699;
}
#muni_8BX .busnumber {
  background: #996699;
}
#muni_9L .busnumber {
  background: #889944;
}
#muni_14L .busnumber {
  background: #009900;
}
#muni_14X .busnumber {
  background: #cc0033;
}
#muni_16X .busnumber {
  background: #cc0033;
}
#muni_28L .busnumber {
  background: #009900;
}
#muni_30X .busnumber {
  background: #cc0033;
}
#muni_31AX .busnumber {
  background: #990000;
}
#muni_31BX .busnumber {
  background: #cc3333;
}
#muni_38AX .busnumber {
  background: #990000;
}
#muni_38BX .busnumber {
  background: #cc3333;
}
#muni_38L .busnumber {
  background: #009900;
}
#muni_71L .busnumber {
  background: #009900;
}
#muni_76X .busnumber {
  background: #009900;
}
#muni_81X .busnumber {
  background: #cc0033;
}
#muni_82X .busnumber {
  background: #cc0033;
}
#muni_83X .busnumber {
  background: #cc0033;
}
#muni_K_OWL .busnumber {
  background: #198080;
}
#muni_L_OWL .busnumber {
  background: #330066;
}
#muni_M_OWL .busnumber {
  background: #004d19;
}
#muni_N_OWL .busnumber {
  background: #001980;
}
#muni_T_OWL .busnumber {
  background: #660019;
}
